<div class="container flex-row">
  <div class="flex-column align-content-center">
    <!-- Title -->
    <div>
      <h3>Selectione um Estado</h3>
    </div>

    <!-- State select -->
    <div>
      <mat-select [(ngModel)]="selectedState">
        <mat-option *ngFor="let state of states$ | async" [value]="state">
          {{state.name}}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <!-- State photo -->
  <div class="state-url justify-content-end">
    <mat-card>
      <img mat-card-image [src]="selectedState.flagUrl" alt="Bandeira do Estado">
    </mat-card>
  </div>
</div>
