$defaultSize: 100px;

.container {
  display: flex;
  min-height: $defaultSize;

  .flag-selection {
    min-width: 150px;
  }
  .state-url {
    margin-left: 50px;
    img {
      width: $defaultSize;
    }
  }
}
